{% load static %}
<!-- jQuery -->
<script src="{% static 'admin_app/js/jquery.min.js' %}"></script>
<script src="{% static 'admin_app/js/popper.min.js' %}"></script>
<script src="{% static 'admin_app/js/bootstrap.min.js' %}"></script>
<!-- wow animation -->
<script src="{% static 'admin_app/js/animate.js' %}"></script>
<!-- select country -->
<script src="{% static 'admin_app/js/bootstrap-select.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'admin_app/js/owl.carousel.js' %}"></script>
<!-- chart js -->
<script src="{% static 'admin_app/js/Chart.min.js' %}"></script>
<script src="{% static 'admin_app/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'admin_app/js/utils.js' %}"></script>
<script src="{% static 'admin_app/js/analyser.js' %}"></script>
<!-- nice scrollbar -->
<script src="{% static 'admin_app/js/perfect-scrollbar.min.js' %}"></script>
<script>
    var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="{% static 'admin_app/js/chart_custom_style1.js' %}"></script>
<script src="{% static 'admin_app/js/custom.js' %}"></script>