{% load static %}
<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <!-- Using user_img because the previous logo img was missing -->
                <a href="{% url 'dashboard' %}"><img class="logo_icon img-responsive"
                        src="{% static 'admin_app/images/layout_img/user_img.jpg' %}" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive"
                        src="{% static 'admin_app/images/layout_img/user_img.jpg' %}" alt="#" /></div>
                <div class="user_info">
                    <h6>{{ request.user.username|title }}</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li>
                <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
            </li>
            
            <li>
                <a href="#categories" data-toggle="collapse" aria-expanded="{% if request.resolver_match.url_name in 'add_category,admin_category_list' %}true{% else %}false{% endif %}" class="dropdown-toggle"><i
                        class="fa fa-tags blue1_color"></i> <span>Categories</span></a>
                <ul class="collapse list-unstyled {% if request.resolver_match.url_name in 'add_category,admin_category_list' %}show{% endif %}" id="categories">
                    <li>
                        <a href="{% url 'admin_category_list' %}">> <span>View Categories</span></a>
                    </li>
                    <li>
                        <a href="{% url 'add_category' %}">> <span>Add Category</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#products" data-toggle="collapse" aria-expanded="{% if request.resolver_match.url_name in 'add_product,admin_product_list' %}true{% else %}false{% endif %}" class="dropdown-toggle"><i
                        class="fa fa-cube green_color"></i> <span>Products</span></a>
                <ul class="collapse list-unstyled {% if request.resolver_match.url_name in 'add_product,admin_product_list' %}show{% endif %}" id="products">
                    <li>
                        <a href="{% url 'admin_product_list' %}">> <span>View Products</span></a>
                    </li>
                    <li>
                        <a href="{% url 'add_product' %}">> <span>Add Product</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#settings" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fa fa-cog red_color"></i> <span>Account</span></a>
                <ul class="collapse list-unstyled" id="settings">
                    <li>
                        <a href="{% url 'admin_logout' %}">> <span>Logout</span></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<!-- end sidebar -->